# Python-generated
*__pycache__
*.egg-info
dist/
build/

# Debian-generated
debian/mymodule
debian/debhelper-build-stamp
debian/files
debian/mymodule.postinst.debhelper
debian/mymodule.prerm.debhelper
debian/mymodule.substvars
.pybuild/

# man pages
man/
man_md/

# pydoc generated documentation
html/

# Coverage generated
.coverage
htmlcov

# Test
tests.log

## Project-specific stuff
# Example: generated XYZ goes here
dump/

# virtual env 
v/

# Editor's backup files
*.bak
